In [14]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('netflix_titles.csv')

In [3]:
print(df.head())

  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      8807 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
None

In [32]:
df['director']='df.fillna({Director:Unknown}, inplace=True)'

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      8807 non-null   object
 4   cast          8807 non-null   object
 5   country       8807 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
None

In [33]:
df['cast']='df.fillna({cast:Unknown}, inplace=True)'

In [34]:
df['country']='df.fillna({country:Unknown}, inplace=True)'

In [36]:
df['rating']='df.fillna({rating:Unknown}, inplace=True)'

In [37]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   show_id           8807 non-null   object
 1   type              8807 non-null   object
 2   title             8807 non-null   object
 3   director          8807 non-null   object
 4   cast              8807 non-null   object
 5   country           8807 non-null   object
 6   date_added        8807 non-null   datetime64[ns]
 7   release_year      8807 non-null   int64
 8   rating            8807 non-null   object
 9   listed_in         8807 non-null   object
 10  description       8807 non-null   object
 11  duration_minutes  8807 non-null   int64
 12  duration_seasons  8807 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(9)
memory usage: 894.6+ KB
None

In [16]:
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

In [17]:
print(df['date_added'].dtype)

datetime64[ns]

In [26]:
# Initialize new columns to prevent the "SettingWithCopyWarning" pitfall
df['duration_minutes'] = pd.NA
df['duration_seasons'] = pd.NA

# Correctly extract and assign values for movies using .loc
movie_rows = df['type'] == 'Movie'
df.loc[movie_rows, 'duration_minutes'] = df.loc[movie_rows, 'duration'].str.extract(r'(\d+)')

# Correctly extract and assign values for TV shows using .loc
tv_show_rows = df['type'] == 'TV Show'
df.loc[tv_show_rows, 'duration_seasons'] = df.loc[tv_show_rows, 'duration'].str.extract(r'(\d+)')

# Convert to numeric and fill resulting NaNs (where the other type existed) with 0
df['duration_minutes'] = pd.to_numeric(df['duration_minutes']).fillna(0).astype(int)
df['duration_seasons'] = pd.to_numeric(df['duration_seasons']).fillna(0).astype(int)

# Drop the original 'duration' column
df.drop('duration', axis=1, inplace=True)

In [24]:
# 1. Convert to datetime, turning any unparsable strings (like 'Unknown') into NaT
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

# 2. Define the placeholder date
placeholder_date = pd.to_datetime('1900-01-01')

# 3. Fill the resulting NaT values with the placeholder date using assignment (RECOMMENDED)
# By removing 'inplace=True', you explicitly assign the result back to the column, 
# which is the proper Pandas convention and eliminates the warning.
df['date_added'] = df['date_added'].fillna(placeholder_date)

# You can now check the info to see the full non-null count and correct dtype
# print(df.info())

In [28]:
# Get the number of duplicates before removal
print(f"Number of duplicate rows before removal: {df.duplicated().sum()}")

# Drop duplicate rows
df.drop_duplicates(inplace=True)

# Verify that duplicates are gone
print(f"Number of duplicate rows after removal: {df.duplicated().sum()}")

Number of duplicate rows before removal: 0
Number of duplicate rows after removal: 0

In [29]:
# 1. Convert to datetime, turning any unparsable strings (like 'Unknown') into NaT
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

# 2. Define the placeholder date
placeholder_date = pd.to_datetime('1900-01-01')

# 3. Fill the resulting NaT values with the placeholder date using assignment (Correct way)
df['date_added'] = df['date_added'].fillna(placeholder_date)

# Check the result
print(df['date_added'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 8807 entries, 0 to 8806
Series name: date_added
Non-Null Count  Dtype
--------------  -----
8807 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 68.9 KB
None

In [31]:
# --- 1. CORRECT DATE HANDLING ---
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')
placeholder_date = pd.to_datetime('1900-01-01')
df['date_added'] = df['date_added'].fillna(placeholder_date) # FIX: using assignment

# --- 2. CORRECT DURATION SPLITTING (Must be run now!) ---
# Initialize new columns
df['duration_minutes'] = pd.NA
df['duration_seasons'] = pd.NA

# Correctly extract and assign values for movies
movie_rows = df['type'] == 'Movie'
df.loc[movie_rows, 'duration_minutes'] = df.loc[movie_rows, 'duration'].str.extract(r'(\d+)')

# Correctly extract and assign values for TV shows
tv_show_rows = df['type'] == 'TV Show'
df.loc[tv_show_rows, 'duration_seasons'] = df.loc[tv_show_rows, 'duration'].str.extract(r'(\d+)')

# Convert to numeric, fill NaNs with 0, and convert to integer type
df['duration_minutes'] = pd.to_numeric(df['duration_minutes']).fillna(0).astype(int)
df['duration_seasons'] = pd.to_numeric(df['duration_seasons']).fillna(0).astype(int)

# --- 3. DROP ORIGINAL DURATION COLUMN ---
# This is safe to run now, AFTER the extraction above
df.drop('duration', axis=1, inplace=True)

# Final check
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   show_id           8807 non-null   object
 1   type              8807 non-null   object
 2   title             8807 non-null   object
 3   director          6173 non-null   object
 4   cast              7982 non-null   object
 5   country           7976 non-null   object
 6   date_added        8807 non-null   datetime64[ns]
 7   release_year      8807 non-null   int64
 8   rating            8803 non-null   object
 9   listed_in         8807 non-null   object
 10  description       8807 non-null   object
 11  duration_minutes  8807 non-null   int64
 12  duration_seasons  8807 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(9)
memory usage: 894.6+ KB
None

In [38]:
df.to_csv('netflix_titles_FINAL_CLEANED.csv', index=False)